provider-services/src/main/mule/action-update-temperature-setting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mqtt3="http://www.mulesoft.org/schema/mule/mqtt3" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mqtt3 http://www.mulesoft.org/schema/mule/mqtt3/current/mule-mqtt3.xsd">
	<flow name="proxy-update-temperature-setting-action" doc:id="1a1ac445-2fcc-423a-89b3-a918ca3c906a" >
		<mqtt3:listener doc:name="On New Message" doc:id="68a1493b-9365-4ab3-b114-8edb4dc64fb9" config-ref="AsyncAPI_Gateway_MQTT_Connection">
			<reconnect />
			<mqtt3:topics >
				<mqtt3:topic topicFilter="acme/smartfridges/application/v1/action/+/+/tcu/update" qos="AT_MOST_ONCE" />
			</mqtt3:topics>
		</mqtt3:listener>
		<logger level="DEBUG" doc:name="Log Input" doc:id="7c9a5056-c9f9-45be-93bc-bea0f3360dc0" message="Received event for topic #[attributes.topic]: #[payload]" category="acme.smartfridges.tcu.update"/>
		<set-variable value="schemas/applicationTemperatureSettingPayload.json" doc:name="Set Schema" doc:id="33aa0d26-9b33-4021-abd9-333cbeb3b285" variableName="schema"/>
		<flow-ref doc:name="Validate Payload" doc:id="be85f82f-1015-4cd7-bbd2-c37c570966aa" name="parse-and-validate-payload"/>
		<flow-ref doc:name="Check Registration" doc:id="54fa24cd-0f3d-4adf-83cc-0878ea4f0b56" name="check-registration-for-application-topic"/>
		<set-variable value='#[output application/json&#10;var fridgeId = vars.fridgeId as String&#10;---&#10;"acme/smartfridges/appliance/v1/action/" ++ fridgeId ++ "/tcu/update"]' doc:name="Create Topic Destination" doc:id="d668fcb1-ca2e-4985-a1b0-be6591c4e12e" variableName="topic" />
		<ee:transform doc:name="Transform Message" doc:id="471e0b2c-443b-43f1-934c-b7fe2009f04f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fridgeId: payload.fridgeId,
	temperature: payload.temperature,
	sentAt: payload.sentAt
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Output" doc:id="2b73e589-0690-412e-82bb-d0bc253019af" message="Publish event to topic #[vars.topic]: #[payload]" category="acme.smartfridges.tcu.update"/>
		<mqtt3:publish doc:name="Publish" doc:id="b0c81a0e-f042-4b78-9965-557108ea3c98" config-ref="AsyncAPI_Gateway_MQTT_Connection" topic="#[vars.topic]" qos="AT_MOST_ONCE" isRetained="true">
					<reconnect />
				</mqtt3:publish>
		<error-handler >
			<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="0ec1d1d7-1850-4a03-ba31-a7bb6c7925db" type="APP:INVALID_MESSAGE">
				<logger level="ERROR" doc:name="Log Error" doc:id="d7f12c22-d187-4bf7-85cd-4bc1837f401f" message='Discarded action for topic #[attributes.topic]: payload is invalid.' category="acme.smartfridges.tcu.update"/>
			</on-error-continue>
			<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="918ac5c2-94f2-4ea8-a6cc-47bdd44668de" type="APP:FRIDGE_NOT_REGISTERED">
				<logger level="DEBUG" doc:name="Log Message" doc:id="be54940f-982c-4ba7-8a08-baf0eebae5fa" message="Discarded action for topic #[attributes.topic]: fridge is not registered or not registered for the specified customer." category="acme.smartfridges.tcu.update"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
